@import url(https://fonts.googleapis.com/css2?family=Macondo&display=swap);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', display;
  background-color: rgb(212, 212, 212);
}

.nav-header {
  background: linear-gradient(rgba(0, 0, 0, 0.2) 100%, rgba(0, 0, 0, 0.2) 100%), url(../frank-mckenna-4V8JxijgZ_c-unsplash.jpg);
  padding: 10px;
}

.header-nav {
  background: linear-gradient(rgba(0, 0, 0, 0.2) 100%, rgba(0, 0, 0, 0.2) 100%), url(../frank-mckenna-4V8JxijgZ_c-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 10px;
}

.nav-header {
  position: fixed;
  top: 0;
  width: 100%; 
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  box-shadow: 0 0 10px #000;
}


.nav-header a {
  text-decoration: none;
  font-size: 28px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  margin: 0 5px;
}

.title{
  text-align: center;
  line-height: 2;
  font-size: 80px;
  color: #ffffff;
}

.navbar-nav li {
  display: inline-block;
  margin: 0 0px;
}

.main-header {
  display: none;
}

section {
  padding: 10px 20px;
  line-height: 1.5;
  background-color: #ffffff;
}

.container {
  margin: 0 15px;
}

/* html */
.html {
  width: 80%;
  height: 5px;
  background-color: #01488d;
  position: relative;
  z-index: 1;
  transition: height 0.5s;
  text-align: center;
  margin-bottom: 30px;
}

.html i {
  color: #ffffff;
  position: absolute;
  top: 4px;
}

.html::before {
  content: 'HTML';
  position: absolute;
  top: 4px;
  left: 0;
  font-weight: 500;
}

.html:hover {
  height: 30px; 
  color: #fff;
}

/* css */
.css {
  position: relative;
  width: 60%;
  height: 5px;
  background-color: rgb(206, 14, 14); 
  text-align: center;
  margin-bottom: 30px;
  transition: height 0.5s;
}

.css::before {
  content: 'CSS';
  position: absolute;
  left: 0;
  top: 4px;
  font-weight: 500;
}

.css i {
  position: absolute;
  top: 5px;
  color: #ffffff;
}

.css:hover {
  height: 30px;
  color: #fff;
}

/* js */
.js {
  position: relative;
  width: 40%;
  height: 5px;
  background-color: gold;
  text-align: center;
  transition: height 0.5s;
}

.js::before {
  content: 'javaScript';
  position: absolute;
  top: 4px;
  left: 0;
  font-weight: 500;
}

.js i {
  color: #fff;
  position: absolute;
  top: 4px;
}

.js:hover {
  height: 30px;
  color: #fff;
}

/* mygithub */
.github {
  margin-top: 40px;
}














@media (max-width: 768px) {

  .nav-header{
    display: none;
  }

  .header-nav  {
    font-size: 25px;
  }

  .main-header {
    display: block;
    background-color: rgb(173, 173, 173);
    padding: 5px;
  }

  .btn {
    position: absolute;
    right: 20px;
    top: 2px;
    outline: none;
    background-color: transparent;
    color: #000;
    border: none;
    font-size: 20px;
  }

  .navbar {
    display: block;
    position: fixed;
    top: 5px;
    left: 0;
    right: 0;
    text-align: left;
    padding: 10px;
    transition: transform .8s;
    background-color: rgb(173, 173, 173);
    transform: translateY(-200px);
    z-index: 1;
    border-radius: 0 0 5px 5px;
  }

  .navbar.activ {
    position: absolute;
    transform: translateY(0);
  }

  ul li {
    list-style: none;
    padding: 0;
  }

  a {
    display: block;
    text-align: left;
    list-style: none;
    margin: 0 10px;
    text-decoration: none;
    color: bisque;
  }
}